<a href="https://colab.research.google.com/github/venkataramant/uta-pg-aiml/blob/develop/practice/python/practice_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [9]:
df1=pd.DataFrame({"city":["Hyderabad","Khammam","Warangal"],
              "population":[10000000,300000,300000],
              
             })
df1

        city  population
0  Hyderabad    10000000
1    Khammam      300000
2   Warangal      300000

In [10]:
df2=pd.DataFrame({"city":["Vizag","Guntur","Vijaywada"],
              "population":[30000000,300000,1000000],
              
             })
df2

        city  population
0      Vizag    30000000
1     Guntur      300000
2  Vijaywada     1000000