<a href="https://colab.research.google.com/github/venkataramant/uta-pg-aiml/blob/develop/practice/python/practice_numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [7]:
df1=pd.DataFrame({"city":["Chennai","Hyderabad","Vijayawada"],
                  "temparature":[36.0,29.0,30.0],
                  "wind_speed": [10,5,6]
                 })
df1

         city  temparature  wind_speed
0     Chennai         36.0          10
1   Hyderabad         29.0           5
2  Vijayawada         30.0           6

In [8]:
df2=pd.DataFrame({"city":["Mumbai","Calcutta","Indore"],
                  "temparature":[26.0,29.0,36.0],
                  "wind_speed": [10,12,4]
                 })
df2

       city  temparature  wind_speed
0    Mumbai         26.0          10
1  Calcutta         29.0          12
2    Indore         36.0           4

In [10]:
pd.concat([df1,df2])

         city  temparature  wind_speed
0     Chennai         36.0          10
1   Hyderabad         29.0           5
2  Vijayawada         30.0           6
0      Mumbai         26.0          10
1    Calcutta         29.0          12
2      Indore         36.0           4